foot.stl filter=lfs diff=lfs merge=lfs -text
foot_tpu_bottom.stl filter=lfs diff=lfs merge=lfs -text
trunk_base.stl filter=lfs diff=lfs merge=lfs -text
bottom_shell.stl filter=lfs diff=lfs merge=lfs -text
head_top.stl filter=lfs diff=lfs merge=lfs -text
left_roll_to_pitch.stl filter=lfs diff=lfs merge=lfs -text
roll_motor_bottom.stl filter=lfs diff=lfs merge=lfs -text
Uc_inside_holder.stl filter=lfs diff=lfs merge=lfs -text
head_base_plate.stl filter=lfs diff=lfs merge=lfs -text
head_yaw_to_roll.stl filter=lfs diff=lfs merge=lfs -text
leg_plate.stl filter=lfs diff=lfs merge=lfs -text
top_shell.stl filter=lfs diff=lfs merge=lfs -text
Uc.stl filter=lfs diff=lfs merge=lfs -text
uc_boards.stl filter=lfs diff=lfs merge=lfs -text
head_pitch_to_yaw.stl filter=lfs diff=lfs merge=lfs -text
roll_motor_top.stl filter=lfs diff=lfs merge=lfs -text
trunk_yaw.stl filter=lfs diff=lfs merge=lfs -text
right_roll_to_pitch.stl filter=lfs diff=lfs merge=lfs -text
